<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">Wonders Of Bharat</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse flex" id="navbarNav">
        <div class="navbar-nav">
          <a class="nav-link active" href="/">Home</a>
          <a class="nav-link" href="/tourSpots">Tourist Spots</a>
          <a class="nav-link" href="/tourSpots/new">New Spot</a>
          <% if (currentUser) { %>
            <a class="nav-link" href="/myPosts">My Posts</a>
          <% } %>
        </div>
        <div class="navbar-nav ms-auto">
          <% if (!currentUser) { %>
              <a class="nav-link" href="/register">Register</a>
              <a class="nav-link" href="/login">Login</a>
            <% } else { %>
              <span class="nav-link text-light"><%= currentUser.username %></span>
              <a class="nav-link" href="/logout">Logout</a>
            <% } %>
        </div>
      </div>

    </div>
  </nav>